<%- include('partials/header.ejs',{login:login}) %>

<h1>About</h1>
<p>
    <%= Acontent %>
</p>
<p>
    Blog Daily is a blogging website where users are able to post their blogs and read blogs written by others. 
</p>
<p>
    Technologies used for Blog Daily are : 
    <ul>
        <li>
            HTML
        </li>
        <li>CSS

        </li>
        <li>
            Javascript
        </li>
        <li>Express</li><li>NodeJS</li><li>dotenv</li><li>body-parser</li><li>ejs</li><li>lodash</li><li>mongoose Database</li><li>express-session</li><li>passport</li>
    </ul>
</p>
<%- include('partials/footer.ejs') %>
