<%- include('partials/header.ejs',{login:login}) %>
    
    <h1>Compose</h1>
    <form class="item" action="/compose" method="post">
        <div class="form-group">
            <label for="">Title</label>
            <input type="text" name="postTitle" placeholder="" style="width: 100%;" class="form-control"    
                autofocus autocomplete="off">
            <label for="">Post</label>
            <!-- <input type="text" name="postEntry" placeholder="" style="width: 100%; height: 150px; " required autofocus
            autocomplete="off"> -->
            <textarea name="postBody" id="" style="width: 100%;" cols="30" rows="10" class="form-control"></textarea>


        </div>
        <button type="submit" class="btn btn-primary" name="button" value="">Publish</button>
    </form>

    <%- include('partials/footer.ejs') %>