 <%- include('partials/header.ejs',{login:login}) %>

 <h1>Contact Us</h1>
 <p>
    Vinayak Sutar
 </p>
<p>
    Email : <a href="mailto:sutarvinayak493@gmail.com">sutarvinayak493@gmail.com</a>
</p>
<p>
    Mobile no. : <a href="callto:8767691422">8767691422</a>
</p>
<%- include('partials/footer.ejs') %>
