 <%- include('partials/header.ejs',{login:login}) %>

 <h1>Contact Us</h1>
 <p>
    Vinayak Sutar
 </p>
<p>
    Email : <a href="mailto:sutarvinayak493@gmail.com">sutarvinayak493@gmail.com</a>
</p>
<p>
    Mobile no. : <a href="callto:8767691422">8767691422</a>
</p>
<p>
    Github : <a target="_blank" href="https://github.com/Vinayak-Sutar">Vinayak-Sutar</a>
</p>
<p>
    Linkedin : <a target="_blank" href="https://www.linkedin.com/in/vinayak-sutar-39a574224">vinayak-sutar</a>
</p>
<p>
    Instagram : <a target="_blank" href="https://www.instagram.com/vinayak_382">vinayak_382</a>
</p>

<%- include('partials/footer.ejs') %>
